.home {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:800px) {
    .left_sidebar {
        display: none;
    }

    .right_sidebar {
        display: none;
    }

    .home {
        justify-content: center;
    }
}